*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

  @font-face {
    font-family: 'Boldtitle';
    src:  url('font/NorseBold-2Kge.woff') format('woff');
  }

body{
    display: flex;
    flex-direction: column;
    
    min-height: 100vh;
    width: 100%;
    
    background-size: 100%;
    background-repeat: no-repeat;
    transition: background-image 3s ease-in;
}

main{
    display: flex;
    flex-direction: column;
    
    width: auto;
    height: 100%;
}

header{
    height:30%;
    width:100%;

    display:grid;
    grid-template-areas: "logo nav space";
    grid-template-columns: repeat(3, 1fr);
    
    background-color: rgba(57,67,89,0.8);
    border-bottom: 1.5px solid black;
}

header a h1{
    grid-area:logo;
    margin:0.5em;
    
    justify-content:left;
    text-align:left;
    
    color:rgb(243, 235, 235);
    font-family: "Boldtitle";
}

a{
    text-decoration: none;
}

nav{
    width:100%;
    display: grid;

    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    
    grid-area: nav;
    gap:1em;
}

nav a{
    display: inline-block;
    position: relative;

    margin-inline: 1.5em;
    color:rgb(221, 220, 220);
}

nav a:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    
    background-color: rgb(243, 235, 235);
    
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

nav :not(.selected):hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

nav a{
    text-decoration: none;
}

nav .selected:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.loginbar{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 250px;
    height: 300px;
    
    margin-top:5em;
    padding: 20px 30px;
    border-radius: 12px;

    justify-content: space-between;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.8);
    border: solid rgba(0, 0, 0,0.568) 1.5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
    transition: background-color 300ms linear, border 500ms linear;
}

.loginbar:hover{
    background-color: rgba(245, 245, 245,1);
    border: solid black 1.5px;
}

.loginbar h1{
    text-align: center;
    font-family: "Boldtitle";
    
    text-decoration: underline 2px;
    text-underline-offset: 10px;
    text-decoration-color: #333;
}

.loginbar .wrap{
    display: flex;
    flex-grow:1;
    flex-direction: column;
    
    height: 20%;
    width: 100%;
    padding-top: 1em;

    align-items: center;
}

.loginbar .wrap input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    
    font-size: 15px;
    color: #333;
    outline: none;
    border: none;
    background: none;

    transition: border-bottom 400ms ease;
}

.loginbar .wrap .username{
    position: relative;
}

.loginbar .wrap span{
    width: 100%;
    height: 2px;

    align-self: flex-start;
    background: black;
    transform:scaleY(1);
    transition: transform 300ms ease;
}

.loginbar .wrap input:hover + span,
.loginbar .wrap input:focus + span{
    transform:scaleY(1.25);
}

.loginbar .wrap input:hover::placeholder, 
.loginbar .wrap input:focus::placeholder{
    color:black;
}

.loginbar .login{
    margin-top: 2em;
    padding-inline: 3.5em;
    padding-block: 0.5em;

    border: 2px solid #739bc3;
    border-radius: 6px;

    cursor:pointer;
    background-color:white;

    transition: background-color 500ms ease;
    transition: border 900ms ease;
}

.loginbar .login:hover{
    background-color:#739bc3;
    border:2px solid black;
}

.signup{
    text-align: center;
    font-size: small;
}

.signup a{
    color:DodgerBlue;
}
